/* orbitron-regular - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/orbitron-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/orbitron-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* orbitron-700 - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/orbitron-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/orbitron-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}

body{
	background-image: linear-gradient(
		to right,
		#000 0%,
		#000 56.3%,
		#57B8FF 50%,
		#57B8FF 100%
	);
	
	font-family: 'Orbitron';
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #000;
	margin: 0;
}

.wrapper{
	max-width: 1320px;
	margin: 0 auto;
}

/* header styles start */
.header{
	background-size: cover;
}

.header-item{
	margin-right: 60px;
}

#link{
	color:#FAC422;
}
#link:hover{
	color: white;
	font-size: 18px;
	transition: all 0.3s ease;
}

.header-item:last-child{
	margin-right: 0;
}

.header-list{
	display: flex;
	padding-top: 28px;
	justify-content: center;

	list-style-type: none;
}

.header-logo{
	position: absolute;
	top: 31.19px;
	left: 61.26px;
}

.btn a{
	border: 1px solid #FFFFFF;
	color: #fff;
	text-decoration: none;
	padding: 16px 31px;
	font-size: 18px;
	position: absolute;
	top: 20px;
	right: 60px;
}

.badge{
	background-color: #fff;
	color: #141820;
	padding: 6px 6px;
	font-size: 11px;
	border-radius: 9px;
	line-height: 8px;
	position: absolute;
	top: -9px;
	right: -20px;
}

.basket{
	position: absolute;
	top: 35px;
	right: 278.61px;	
}

.header-link{
	font-size: 16px;
	line-height: 26px;
	color: white;
	text-decoration: none;
}
.header-link:hover, .header-link:focus, .header-link:active{
	color: #FAC422;
	font-size: 18px;
	transition: all 0.3s ease;
}
/* header styles end */

/* social styles start */
.social-list{
	display: flex;
	list-style-type: none;
	align-items: center;
	writing-mode: tb-rl;
	transform: rotate(180deg);
	font-size: 11px;
	position: absolute;
	left: 100px;
	top: 319px;
  justify-content:space-around;
  flex-wrap:wrap;
}

.social-list a{
	display:inline-block;
  padding: 49px;
}

.social-link{
	text-decoration: none;
	color: #80858F;
}
.social-link:hover{
	color: white;
}
.social-item:hover{
	font-size: 13px;
	transition: all 0.3s ease;
}
/* social styles end */


/* intro styles start */
.intro{
	height: 100vh;
	background-size: cover;
}

.intro-title{
	color: white;
	position: absolute;
	font-size: 72px;
	font-weight: 400;
	line-height: 86px;
	top: 259px;
	left: 220px;
	max-width: 656px;
}

.intro-op{
	color: #999999;
	position: absolute;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	max-width: 615px;
	top: 600px;
	left: 220px;
}

.man{
	position: absolute;
	top: 296px;
	right: 260px;
}

.line{
	position: absolute;
	top: 480px;
	left: 437px;
}

.btn-em a{
	background-color: #57B8FF;
	color: white;
	text-decoration: none;
	padding: 21px 34px;
	line-height: 28px;
	font-size: 18px;
	position: absolute;
	top: 749px;
	left: 220px;
}

.btn-em a:hover{
	background-color: white;
	color: #57B8FF;
	padding: 23px 36px;
	font-size: 20px;
	transition: all 0.3s ease;
	left: 210px;
}

.team{
	position: absolute;
	list-style-type: none;
	top: 769px;
	left: 480px;
}
.team-link{
	color:white;
	line-height: 28px;
	font-size: 18px;
	text-decoration: none;
}
.team-link:hover{
	color: #57B8FF;
	font-size: 20px;
	transition: all 0.3s ease;
}

.fire{
	position: absolute;
	top: 275px;
	left: 220px;
}

.fire-op{
	position: absolute;
	color:#57B8FF;
	top: 265px;
	left: 260px;
}
/* intro styles end */